<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898945090390-ffvd5crkm4tcq0nk06jsjkpu6jg9diq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898945090390-ffvd5crkm4tcq0nk06jsjkpu6jg9diq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCDOX_8cKPPoQGi7L49gK0bSFlAk6jFKnA</string>
	<key>GCM_SENDER_ID</key>
	<string>898945090390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShikhi</string>
	<key>PROJECT_ID</key>
	<string>flutter-shikhi</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shikhi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898945090390:ios:7c3d7b7d7c83e901654cf7</string>
</dict>
</plist>